*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
   
    font-size: 14px;
    margin: auto;
    background-color: hsl(30, 38%, 92%);
    
    

}

.container{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 10% auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;


}

.img-container{

    width: 300px;
    height: 450px;
    background-image: url(/assets/images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;

}


.descricao{
   width: 300px;
   height: 450px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 32px;

}

.subtitle{
    margin-bottom: 20px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    margin-bottom: 24px;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 700;
}

p{
    margin-bottom: 29px;
    color: hsl(228, 12%, 48%);
    
    font-family: 'Montserrat', sans-serif;
}

.value{
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 1.5rem 0 1.5rem 0;
    
    
}

.onSale{
    color:hsl(158, 36%, 37%);
    font-size: 32px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

      
}

.original-value{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;

}

button{
    width: 236px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color:  hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;

    /* tetxtos*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 17px; 
}

button img{
    margin-right: 11.61px;
}

button:hover{
    background-color:hsl(161, 96%, 18%);
}

@media screen and (max-width:768px) {
    .container{
        max-width: 343px;
        height: 611px;
        flex-direction: column;
    }

    .img-container{
        height: 343px;
        border-radius: 8px 8px 0 0;
    }
    
}



/* - mobile: 375px */
@media screen and (max-width: 375px){
    body{
        width: 100%;
    }
    
    section{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .descricao{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 0.5rem;
    }

    .valor{
        display: flex;
        flex-direction: column;
        

    }

    .preco{
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .btn-card{
        display: flex;
        
    }

    .btn-card img{
        flex-direction: row;
        align-items: center;

    }
    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 0.75rem;
    }
    p{
        font-size: 0.5rem;
    }
}